{% extends "mf_game/_base.html" %}
{% load staticfiles %}

{% block body %}
	<div class="container-fluid" id="container-loading">
		<p id="loading">Loading..</p>
	</div>

	<div class="container-fluid" id="container-game" style="display:none;">
		<div class="row header">
			<h2>MathFun Game</h2>
			<!-- <p>by Amine Haddad</p> -->
		</div>
		<div class="row options">
			<div class="col-xs-12">
				<div class="form-group form-inline form-inline-custom">
					<div>
						<label for="selectedNumber1">Select your choice:</label>
					</div>
					<div>
						<select class="form-control" id="selectedNumber1">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
						</select>
						<select class="form-control" id="selectedOperator">
							<option value="additions">+</option>
							<option value="multiplications">x</option>
						</select>
						<select class="form-control" id="selectedNumber2">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
						</select>
						<button type="button" class="btn btn-secondary action-start-quiz">Start quiz</button>
						<button type="button" class="btn btn-secondary action-show-answers" style="display:none;">Show answers</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row congrats" style="display:none;">
			<div class="col-xs-12">
				<p>Congratulations! You finished the game!</p>
				<p class="gameTime"></p>
			</div>
		</div>
		<div class="row answers" style="display:none;">
			<div class="col-xs-12">
				<div id="table-math-container" class="table-responsive">
				</div>
			</div>
		</div>
		<div class="row footer">
			<div class="col-xs-12">
				<p>
					Amine Haddad &copy; 2016-2017
					&mdash;
					<a href="https://github.com/aminehaddad/mf-game" target="_blank">Source Code</a>
				</p>
			</div>
		</div>
	</div>

	<!-- Question modal -->
	<div class="modal fade" id="questionModal" tabindex="-1" role="dialog" aria-labelledby="questionModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="questionModalLabel">Question: loading..</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="answerInput" class="col-form-label">Answer:</label>
						<div class="">
							<input class="form-control" type="number" id="answerInput" value="">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="questionCount" style="display:inline-block;">
						<span class="questionCountSpan" style="margin-right: 10px;">Question 1</span>
					</div>
					<button type="button" class="btn btn-primary action-next-question">Next</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block body_footer %}
	<script>
		// Game settings
		var gameSettings = {
			"id": "#table-math-container",
			"rows": 10,
			"columns": 10,
			"type": "multiplications",

			"showAnswerTable": true,
		};

		var gameData = {
			"questions": [],
			"answers": [],

			"currentQuestion": "",
			"currentAnswer": "",

			"totalQuestionCount": 0,
			"currentQuestionCount": 0,

			"startTime": Date.now(),
			"stopTime": Date.now(),
			"totalTime": 0,

			"mistakes": 0,
		};

		// Setup default values of gameSettings when document loads
		$(document).ready(function() {
			// Default to gameSettings values for rows/columns/type
			$("#selectedNumber1 option[value=" + gameSettings.rows + "]").prop("selected", true);
			$("#selectedNumber2 option[value=" + gameSettings.columns + "]").prop("selected", true);
			$("#selectedOperator option[value=" + gameSettings.type + "]").prop("selected", true);
		});

		// Build the HTML for the game table
		function buildTableHTML(rows, columns, showAnswers) {
			// Table
			var tableHTML = '';
			tableHTML += '<table id="table-math" class="table table-bordered">';

			// Table head
			tableHTML += '<thead>';
			tableHTML += '<tr>';

			if(gameSettings.type === "additions") {
				tableHTML += '<th>+</th>';
			} else if(gameSettings.type === "multiplications") {
				tableHTML += '<th>x</th>';
			}

			for(var i=1; i<columns+1; i++) {
				tableHTML += '<th>';
				tableHTML += i;
				tableHTML += '</th>';
			}
			tableHTML += '</tr>';
			tableHTML += '</thead>';

			// Table body
			tableHTML += '<tbody>';

			for(var i=1; i<rows+1; i++) {
				tableHTML += '<tr>';
				tableHTML += '<th>' + i + '</th>';
				for(var j=1; j<columns+1; j++) {
					tableHTML += '<td>';
					if(showAnswers) {
						if(gameSettings.type === "additions") {
							tableHTML += (i+j);
						} else if(gameSettings.type === "multiplications") {
							tableHTML += (i*j);
						}
					}
					tableHTML += '</td>';
				}
				tableHTML += '</tr>';
			}

			tableHTML += '</tbody>';
			tableHTML += '</table>';

			return tableHTML;
		}

		// This updates to the latest game table
		function updateTableHTML(showAnswers) {
			var tableHtml = buildTableHTML(gameSettings.rows, gameSettings.columns, showAnswers);
			$(gameSettings.id).html(tableHtml);
		}

		// This clears the game table
		function clearGameTable() {
			$(gameSettings.id).html("");
		}

		// This loads the quiz questions
		function loadQuizQuestions() {
			// Build list of questions and answers
			var listOfQuestions = [];
			var listOfAnswers = [];

			for(var i=1; i<gameSettings.rows+1; i++) {
				for(var j=1; j<gameSettings.columns+1; j++) {
					var question;
					var answer;

					if(gameSettings.type === "additions") {
						question = "What is " + i + " + " + j + "?";
						answer = (i + j);
					} else if(gameSettings.type === "multiplications") {
						question = "What is " + i + " x " + j + "?";
						answer = (i * j);
					}

					listOfQuestions.push(question);
					listOfAnswers.push(answer);
				}
			}

			gameData.questions = listOfQuestions;
			gameData.answers = listOfAnswers;
			gameData.totalQuestionCount = listOfQuestions.length;
		}

		// This loads the first question
		function loadFirstQuestion() {
			// Get the next question
			var nextQuestionID = Math.floor((Math.random() * gameData.questions.length));
			var question = gameData.questions[nextQuestionID];
			var answer = gameData.answers[nextQuestionID];

			// Set it in the gameData
			gameData.currentQuestion = question;
			gameData.currentAnswer = answer;
			gameData.currentQuestionCount = 1;
			gameData.mistakes = 0;
			gameData.startTime = Date.now();

			// Set it in the popup
			$("#questionModalLabel").text(question);
			$(".questionCountSpan").text("Question " + gameData.currentQuestionCount + " of " + gameData.totalQuestionCount);

			// Focus on the input
			$("#answerInput").focus();
		}

		// This validates user answer
		function answerIsValid() {
			var answerFromUser = $("#answerInput").val();
			var actualAnswer = "" + gameData.currentAnswer;
			return answerFromUser === actualAnswer;
		}

		// This loads the next question
		function loadNextQuestion() {
			// Before loading the next question, did user answer it correctly?
			if(answerIsValid() === false) {
				$("#answerInput").parent().addClass("has-danger");
				gameData.mistakes++;
				return;

			} else {
				$("#answerInput").parent().removeClass("has-danger");

				// Remove the question from list of questions (this also removes duplicates like 3+3)
				for(var i=gameData.questions.length; i >= 0; i--) {
					if(gameData.questions[i] === gameData.currentQuestion) {
						gameData.questions.splice(i, 1);
						gameData.answers.splice(i, 1);
					}
				}
			}

			// Is it the last question?
			var isLastQuestion = gameData.questions.length === 0;
			if(isLastQuestion) {
				$("#questionModal").modal("hide");
				$("#answerInput").val("");
				$(".row.congrats").show();

				if(gameSettings.showAnswerTable === true) {
					clearGameTable();
					$(".row.answers").show();
					updateTableHTML(showAnswers=true);
				} else {
					$(".row.answers").hide();
				}

				gameData.stopTime = Date.now();
				gameData.totalTime = gameData.stopTime - gameData.startTime;
				$(".gameTime").text("You solved " + gameData.totalQuestionCount + " questions in " + getTimeString() + " with " + gameData.mistakes + " mistakes.");
				return;
			}

			// Get the next question
			var nextQuestionID = Math.floor((Math.random() * gameData.questions.length));
			var question = gameData.questions[nextQuestionID];
			var answer = gameData.answers[nextQuestionID];

			// Set it in the gameData
			gameData.currentQuestion = question;
			gameData.currentAnswer = answer;
			gameData.currentQuestionCount++;

			// Set it in the popup
			$("#questionModalLabel").text(question);
			$("#answerInput").val("");
			$(".questionCountSpan").text("Question " + gameData.currentQuestionCount + " of " + gameData.totalQuestionCount);

			// Focus on the input
			$("#answerInput").focus();
		}

		function getTimeString() {
			// Get the total milliseconds it took to finish
			var totalMs = gameData.stopTime - gameData.startTime;
			var totalSeconds = totalMs / 1000;

			// How many minutes?
			var minutes = Math.floor(totalSeconds / 60);
			totalSeconds -= minutes * 60;

			// How many seconds?
			var seconds = Math.ceil(totalSeconds);
			totalSeconds -= seconds;

			// Build the string
			var timeString;

			if(minutes > 1) {
				timeString = minutes + " minutes and " + seconds + " seconds";
			} else if(minutes == 1) {
				timeString = minutes + " minute and " + seconds + " seconds";
			} else {
				timeString = seconds + " seconds";
			}

			return timeString;
		}

		$(document).ready(function() {
			// When user selects operator, set value in game settings
			$("#selectedOperator").on("change", function() {
				gameSettings.type = this.value;
			});

			// When user selects numbers, set value in game settings
			$("#selectedNumber1").on("change", function() {
				gameSettings.rows = parseInt(this.value, 10);
			});

			$("#selectedNumber2").on("change", function() {
				gameSettings.columns = parseInt(this.value, 10);
			});

			$("#selectedOperator, #selectedNumber1, #selectedNumber2").on("change", function() {
				// If the answers are shown, redraw them
				if(gameSettings.showAnswerTable) {
					clearGameTable();
					updateTableHTML(showAnswers=true);
				}
			});

			// When they click the "Show answers" button, load it with the answers
			$(".action-show-answers").click(function() {
				clearGameTable();
				$(".row.answers").toggle();
				updateTableHTML(showAnswers=true);
			});

			// When they click the "Start quiz" button, start a new quiz
			$(".action-start-quiz").click(function() {
				clearGameTable();
				$(".row.answers").hide();
				$(".row.congrats").hide();
				loadQuizQuestions();
				loadFirstQuestion();
				$('#questionModal').modal();
			});

			// When first question opens up, select the answer input
			$('#questionModal').on('shown.bs.modal', function() {
				$('#answerInput').focus();
			})

			// When they submit an answer by pressing 'next question', process it
			$(".action-next-question").click(function() {
				loadNextQuestion();
			});

			// Detect the "enter" press when user submits answer
			$("#answerInput").keypress(function() {
				if(event.which == 13) {
					// Prevent form submit, even though no form
					event.preventDefault();

					// Launch event for clicking next
					$(".action-next-question").click();
				}
			});
		});
	</script>

	<script>
		$(document).ready(function() {
			// Hide the container that says "loading"
			$("#container-loading").hide();

			// Load the container for the game
			$("#container-game").show();

			// If showAnswerTable is on, then show it
			if(gameSettings.showAnswerTable === true) {
				clearGameTable();
				$(".row.answers").show();
				updateTableHTML(showAnswers=true);
			} else {
				$(".row.answers").hide();
			}
		});
	</script>
{% endblock %}
